$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//common:color
$default: #333333;
$gray: #808080;

.ng-cloak {
  display: none;
}
.ngview {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei Light','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.contenter {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#BDMap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Microsoft YaHei Light';
  }

#MainContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .searchiconbox {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px solid #E1E1E1;
  }

  .searchbox {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 999;

    .searchform {
      position: absolute;
      width: 100%;
      height: 35px;
      padding: 1px 40px 0 35px;
      background: #FFFFFF;
      border: 1px solid #E1E1E1;

      img.searchiconin {
        position: absolute;
        width: 30px;
        height: 30px;
        margin-left: -33px;
      }

      input.inputtext {
        width: 100%;
        height: 30px;
        border: 0;
      }
      input.inputtext:focus, input.inputtext:hover {
        border: 0;
        outline: none;
        outline-offset: 0;
      }

      a.cancel {
        position: absolute;
        top: 3.5px;
        right: 3.5px;
        background: #E1E1E1;
        padding: 3px;
        border-radius: 3px;
      }
      a.cancel:hover {
        text-decoration: none;
      }
    }

    ul.searchresult {
      position: absolute;
      top: 35px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #E1E1E1;
      border-top: 0;

      li {
        padding: 7px 12px;
        border-bottom: 1px solid #F1F1F1;
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }

  .roadiconbox {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50px;
    right: 10px;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px solid #E1E1E1;
  }

  .roadfaviconbox {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50px;
    right: 10px;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px solid #E1E1E1;
  }

  .raodopbox {
    display: none;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 15%;
    right: 15%;
    margin-top: -100px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;

    a {
      padding: 10px 0;
      border-top: 1px solid #E1E1E1;
      border-radius: 0;
      margin-top: 0;
      font-size: 17px;
      letter-spacing: 1px;
      color: #0083d6;
    }
    a:last-child {
      border-bottom: 1px solid #E1E1E1;
    }
  }

  .roadchartsbox {
    display: block;
    position: absolute;
    width: 100%;
    height: 270px;
    bottom: -270px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 5px 0 5px #EEE;
    overflow: hidden;

    img.closex {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 25px;
      overflow: hidden;
      z-index: 9;
    }
    .roadcharts {
      width: 97%;
      height: 270px;
      left: 3%;
      bottom: 0;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 320px) {
  
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 1200px) {
  
}
@media screen and (min-width: 1441px) {
  
}
