<div id="MainContainer">
	<div id="BDMap"></div>
	<div class="freeindex">畅行指数：{{$freeindex}}分</div>
	<div class="searchiconbox"><img src="images/icon_search.png" class="img-responsive searchicon"></div>
	<div class="searchbox">
		<div class="searchform">
			<img src="images/icon_search.png" class="searchiconin">
			<input type="text" name="roadkeyword" value="" placeholder="请输入路段名称" class="inputtext">
			<a href="javascript:;" class="search">搜索</a>
		</div>
		<ul class="list-unstyled searchresult">
			<li ng-repeat="$route in $routeresultlist" ng-click="searchRouteClick($route)">{{$route.route_id}} - {{$route.direction_name}}</li>
		</ul>
	</div>
	<div class="roadiconbox"><img src="images/icon_road.png" class="img-responsive roadicon"></div>
	<div class="roadfaviconbox"><img src="images/icon_road_fav.png" class="img-responsive roadfavicon"></div>
	<div class="roadopbox text-center" route_id="" direction_name="" markerindex="">
		<h3></h3>
		<a href="javascript:;" class="btn btn-block subcribe">订阅路段</a>
		<a href="javascript:;" class="btn btn-block unsubcribe">取消订阅</a>
		<a href="javascript:;" class="btn btn-block history">历史路况</a>
		<a href="javascript:;" class="btn btn-block closex">关闭</a>
	</div>
	<div class="roadchartsbox">
		<img src="images/icon_closex.png" class="closex">
		<div id="roadcharts" class="roadcharts"></div>
	</div>
</div>