<div id="MainContainer">
	<div id="BDMapP"></div>
	<div class="profilebox">
		<h3 class="text-center" style="font-size: 20px; margin-bottom: 20px;">完善个人信息</h3>
		<form name="profileform" method="post" action="javascript:;" ng-submit="ProfileSave()">
			<div class="form-group">
				<label>居住地：</label>
				<input type="text" name="homeplace" value="" class="form-control" id="homeplace" placeholder="居住地 例：XX路XX小区">
			</div>
			<div class="form-group">
				<label>上班出发时间：</label>
				<input type="time" name="worktime" value="" class="form-control" id="worktime" placeholder="上班时间 例：上午8:30">
			</div>
			<div class="form-group">
				<label>工作地：</label>
				<input type="text" name="workplace" value="" class="form-control" id="workplace" placeholder="工作地 例：某写字楼">
			</div>
			<div class="form-group">
				<label>下班出发时间：</label>
				<input type="time" name="hometime" value="" class="form-control" id="hometime" placeholder="下班时间 例：下午6:00">
			</div>
			<div class="form-group center-block text-center">
				<a href="#/" class="btn btn-info btn-md" style="display: inline-block; margin-right: 30px;">返回</a>
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
	<ul id="placebox" class="placebox list-unstyled"></ul>
</div>
<style type="text/css">
#BDMapP {
	display: none;
}
.profilebox {
	width: 90%;
	margin: 30px auto;
}
ul.placebox {
	display: none;
	width: 90%;
	margin: 0 5%;
	position: absolute;
	border: 1px solid #CCCCCC;
	padding: 5px 0;
}
ul.placebox li {
	padding: 1px 3px;
	padding-right: 10px;
}
ul.placebox li:hover {
	background: #F5F5F5;
}
ul.placebox li span.name {
	color: #000000;
	font-size: 15px;
}
ul.placebox li span.address {
	color: #C1C1C1;
	font-size: 14px;
	margin-left: 10px;
}
</style>